<div class="row">
  <div  class="col-3 card mt-3" *ngFor="let i of cart">
      <img  [src]="i.img" alt="Card image cap" style="height: 250px;width: 100%;">
      <div class="card-body" style="margin-left: auto;margin-right: auto">
        <h4>Specifications</h4>
        <ul>
          <li>Name : {{i.name}}</li>
          <li>Price : {{i.price}}</li>
          <li>Ideal for : {{i.idealfor}}</li>
          <li>Brand fit : {{i.brandfit}}</li>
          <li>Fabric : {{i.fabric}}</li>
          <li>Fit : {{i.fit}}</li>
        </ul>
        <button type="button" class="btn btn-danger" (click)="removeCart(i._id)" (click)="decrement()">Remove</button>
        <button type="button" class="btn btn-success">Place Order</button> 
      </div>
  </div>
</div>